# Ответы на вопросы в заданиях

## Вопросы о ценах

Сколько вариантов непустых значений встречается в столбце Price Range?

In [3]:
import ast
import numpy as np
import pandas as pd

# our python automation scripts 
import helpers

In [7]:
# df = pd.read_csv('https://cms.skillfactory.ru/assets/courseware/v1/c00e440dce1926e20bcf7b959cbeebbb/asset-v1:Skillfactory+DST-WEEKLY-2.0+08JULY2020+type@asset+block/main_task.csv')
df = pd.read_csv('./datasets/main_task.csv')

display(
    df.info()
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781

None

In [13]:
df.columns = [
    'restaurant_id',
    'city',
    'cuisine_style',
    'ranking',
    'rating',
    'price_range',
    'number_of_reviews',
    'reviews',
    'url_ta',
    'id_ta'
]
df.head(3)

,restaurant_id,city,cuisine_style,ranking,rating,price_range,number_of_reviews,reviews,url_ta,id_ta
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781

In [12]:
df.price_range.notna().sum()

26114

In [12]:
df['Price Range'].value_counts(dropna=False)

$$ - $$$    18412
NaN         13886
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [13]:
len(df['Price Range'] == '$')

40000

In [14]:
len(df.City.value_counts())

31

In [15]:
len(df['Cuisine Style'].value_counts())

9007

In [16]:
df['Cuisine Style'].value_counts().head(10)

['Italian']                   1032
['French']                     805
['Spanish']                    695
['French', 'European']         405
['Cafe']                       403
['Pizza']                      371
['Italian', 'Pizza']           343
['European', 'Portuguese']     342
['Chinese']                    328
['Mediterranean']              256
Name: Cuisine Style, dtype: int64

In [20]:
# df = pd.read_csv('https://cms.skillfactory.ru/assets/courseware/v1/c00e440dce1926e20bcf7b959cbeebbb/asset-v1:Skillfactory+DST-WEEKLY-2.0+08JULY2020+type@asset+block/main_task.csv')
df = pd.read_csv('./datasets/main_task.csv')

df.dropna(inplace=True)
# df['Cuisine Style'].fillna(1)

df['cuisine_count'] = df['Cuisine Style'].apply(
    lambda x: len([
        x.strip()
        for x in ast.literal_eval(x)
        if x == x
    ])
).mean()
df.cuisine_count.mean()

3.3912975792013706