In [2]:
import pandas as pd
from IPython.core.display import display

In [3]:
answers = dict() # создадим словарь для ответов






# Предобработка

In [4]:
### 1. convert release_date field to datetime format
data = pd.read_csv('movie_bd_v5.csv')
data.release_date = pd.to_datetime(data.release_date, format='%m/%d/%Y')

### 2. Create new column - release_mount (for 21 exercise)
data['release_month'] = data['release_date'].apply(lambda x: x.month_name())

### 3. create new column "profit" equal to values - "revenue - budget"
profit_values = data.revenue - data.budget
if 'profit' not in data.columns:
    data.insert(3, 'profit', profit_values, True)
else:
    # for repeating calculations
    data['profit'] = profit_values





# Вопросы 1-5




# 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 1

In [6]:
data.loc[data.budget == data.budget.max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,May

ВАРИАНТ 2

In [7]:
data.sort_values(by=['budget']).tail(1)
data.sort_values(by=['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,May





# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)'

ВАРИАНТ 1

In [9]:
data.loc[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
1157,tt0279111,56000000,12923936,-43076064,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,February

ВАРИАНТ 2

In [10]:
data.sort_values(by=['runtime']).tail(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
1157,tt0279111,56000000,12923936,-43076064,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,February





# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

ВАРИАНТ 1

In [12]:
data.loc[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
768,tt1449283,30000000,14460000,-15540000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,April

ВАРИАНТ 2

In [13]:
data.sort_values(by=['runtime']).head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
768,tt1449283,30000000,14460000,-15540000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,April





# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'

ВАРИАНТ 1

In [15]:
round(data.runtime.mean())

110

ВАРИАНТ 2

In [16]:
round(data.runtime.sum() / len(data))

110





# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '1. 107'

ВАРИАНТ 1

In [18]:
round(data.runtime.median())

107






# Вопросы 6-10






# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность
#### между сборами и бюджетом фильма. (прибыль = сборы - бюджет)
#### в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = '5. Avatar (tt0499549)'

In [20]:
data.loc[data.profit == data.profit.max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,December






# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [22]:
data.loc[data.profit == data.profit.min()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,July






# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1. 1478'

ВАРИАНТ 1

In [24]:
len(data.loc[data.profit > 0])

1478

ВАРИАНТ 2

In [25]:
len(data.query('profit > 0'))

1478






# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = '4. The Dark Knight (tt0468569)'

ВАРИАНТ 1

In [27]:
data.loc[(data.profit > 0) & (data.release_year == 2008)].sort_values('profit').tail(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
599,tt0468569,185000000,1001921825,816921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,July

ВАРИАНТ 2

In [28]:
data.query('profit > 0 and release_year == 2008').sort_values('profit').iloc[-1].original_title

'The Dark Knight'





# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

ВАРИАНТ 1

In [30]:
data.loc[
    (data.profit == data.profit.min())
     & (
            (data.release_year == 2012)
            | (data.release_year == 2013)
            | (data.release_year == 2014)
    )
]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,July

ВАРИАНТ 2

In [31]:
data.loc[
    data.release_year.isin([2012, 2013, 2014])
].sort_values('profit').iloc[0].original_title

'The Lone Ranger'

ВАРИАНТ 3

In [32]:
years = list(range(2012, 2015, 1))
data.query('release_year in @years').sort_values('profit').head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,July




# Вопросы 11-17





# 11. Какого жанра фильмов больше всего?

In [33]:
answers['11'] = '3. Drama'

ВАРИАНТ 1

In [34]:
from collections import Counter
from more_itertools import flatten


iter_genres = flatten(data.genres.apply(lambda x: x.split('|')))
c = Counter(iter_genres)
max_value = max(c.values())
for k, v in c.items():
    if v == max_value:
        print(k, v)
        break

Drama 782

ВАРИАНТ 2

In [35]:
from collections import Counter


c = Counter()
def count_genres(genre_string, _counter=c,  divider='|'):
    """ Counting items for each string line of genres in data.genres """

    for x in genre_string.split(divider):
        _counter[x] += 1

data.genres.apply(count_genres)
result_df = pd.Series(c)
result_df.loc[result_df == result_df.max()]

Drama    782
dtype: int64

ВАРИАНТ 3

In [36]:
from collections import Counter
from functools import reduce


def processing_genres(genres_column):
    """ Create iterator of Counter objects for each row in data.genres """

    for genre_string in genres_column:
        yield Counter(genre_string.split('|'))

# getting all counters for each row in data.genres and summarize it
result = reduce(lambda x, y: x+y, processing_genres(data.genres))
max(result, key=result.get), max(result.values())

('Drama', 782)





# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [37]:
answers['12'] = '1. Drama'

In [38]:
def processing_genres(genres_column):
    """ Create iterator of Counter objects for each row in data.genres """

    for genre_string in genres_column:
        yield Counter(genre_string.split('|'))

profit_films = data[data.profit > 0]
result = reduce(lambda x, y: x+y, processing_genres(profit_films.genres))
max(result, key=result.get), max(result.values())

('Drama', 560)





# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [39]:
answers['13'] = '5. Peter Jackson'

In [40]:
result = Counter()
all_directors = {x.pop() for x in data.director.apply(lambda x: x.split('|'))}
for director in all_directors:
    result[director] = data.loc[data.director.str.contains(director)].revenue.sum()

revenues = pd.Series(index=result.keys(), data=result)
revenues.loc[revenues == revenues.max()]

Peter Jackson    6490593685
dtype: int64






# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
answers['14'] = '3. Robert Rodriguez'

In [42]:
data2 = data.loc[data.genres.str.contains('Action')]
Counter(data2.director.str.cat(sep='|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]





# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [43]:
answers['15'] = '3. Chris Hemsworth'

In [44]:
c = Counter()
data2 = data.query('release_year == 2012')
all_actors = data2['cast'].str.cat(sep='|').split('|')

for actor in all_actors:
    c[actor] += data2[data2['cast'].str.contains(actor)].revenue.sum()
c.most_common(1)

[('Chris Hemsworth', 8109803092)]





# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [45]:
answers['16'] = '3. Matt Damon'

In [46]:
data2 = data[data.budget > data.budget.mean()]
Counter(data2.cast.str.cat(sep='|').split('|')).most_common(1)

[('Matt Damon', 18)]





# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
answers['17'] = '2. Action'

In [48]:
Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]




# Вопросы 18-22





# 18. Самый убыточный фильм от Paramount Pictures

In [49]:
answers['18'] ='1. K-19: The Widowmaker (tt0267626)'

In [50]:
data2 = data[data.production_companies.str.contains("Paramount Pictures")]
data2[data2.profit == data2.profit.min()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
925,tt0267626,100000000,35168966,-64831034,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,July





# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
answers['19'] ='5. 2015'

In [52]:
group_df = data.groupby(['release_year']).revenue.sum()
group_df.sort_values().tail(1)

release_year
2015    25449202382
Name: revenue, dtype: int64





# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
answers['20'] ='1. 2014'

In [54]:
data2 = data[data.production_companies.str.contains('Warner Bros')]
group_df = data2.groupby(['release_year']).revenue.sum()
group_df.sort_values().tail(1)

release_year
2014    3243064519
Name: revenue, dtype: int64





# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
answers['21'] ='4. Сентябрь'

In [56]:
data.sample(5)
group_df = data.groupby(['release_month']).imdb_id.count()
group_df.sort_values().tail(1)

release_month
September    227
Name: imdb_id, dtype: int64





# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [57]:
answers['22'] ='2. 450'

In [58]:
summer_months = ['June', 'July', 'August']
len(data.query('release_month in @summer_months'))

450





# 23. Для какого режиссера зима – самое продуктивное время года?

In [59]:
answers['23'] ='5. Peter Jackson'

In [60]:
winter_months = ['December', 'January', 'February']
Counter(data.query('release_month in @winter_months').director.str.cat(sep='|').split('|')).most_common(1)

[('Peter Jackson', 7)]





# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [61]:
answers['24'] ='5. Four By Two Productions'

In [62]:

data2 = data.loc[:, ('production_companies', 'original_title')]
data2['length_symbols'] = data2.original_title.apply(lambda x: len(x))
data2['production_companies'] = data2['production_companies'].str.split('|')
data2 = data2.explode('production_companies')
group_df = data2.groupby(['production_companies'])['length_symbols'].mean()
group_df.sort_values().tail(5)

production_companies
Polsky Films                 46.0
Museum Canada Productions    46.0
Dos Corazones                47.0
Jim Henson Company, The      59.0
Four By Two Productions      83.0
Name: length_symbols, dtype: float64






# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [63]:
answers['25'] ='3. Midnight Picture Show'

In [64]:
data2 = data.loc[:, ('production_companies', 'overview')]
data2['length_words'] = data2.overview.apply(lambda x: len(x.split(' ')))
data2['production_companies'] = data2['production_companies'].str.split('|')
data2 = data2.explode('production_companies')
group_df = data2.groupby(['production_companies'])['length_words'].mean()
group_df.sort_values().tail(1)

production_companies
Midnight Picture Show    175.0
Name: length_words, dtype: float64






# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [65]:
answers['26'] ='1. Inside Out, The Dark Knight, 12 Years a Slave'

ВАРИАНТ 1

In [66]:
data2 = data.sort_values('vote_average')[['original_title', 'vote_average']]
data2.query('vote_average >= vote_average.quantile(0.99)').\
    sort_values('vote_average', ascending=False).\
    head(15)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
118                                    Interstellar           8.0
34                                             Room           8.0
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
138                        The Grand Budapest Hotel           7.9
1183                        The Wolf of Wall Street           7.9
370                                       Inception           7.9
119                         Guardians of the Galaxy           7.9
1800                                        Memento           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
124                                      Big Hero 6           7.8

ВАРИАНТ 2

In [67]:
one_percent_of_best_df = data.sort_values(by='vote_average').tail(
    int(data.original_title.count()/100)
).original_title

one_percent_of_best_df.to_list()

['The Theory of Everything',
 'The Lord of the Rings: The Two Towers',
 'There Will Be Blood',
 'Mr. Nobody',
 '12 Years a Slave',
 'The Pianist',
 'Gone Girl',
 'Memento',
 'Guardians of the Galaxy',
 'Inception',
 'The Wolf of Wall Street',
 'The Grand Budapest Hotel',
 'The Lord of the Rings: The Return of the King',
 'Room',
 'Interstellar',
 'Inside Out',
 'The Imitation Game',
 'The Dark Knight']

ВАРИАНТ 3

In [68]:
a=round(len(data.imdb_id)*1/100)
data.vote_average.sort_values(ascending=False).index[:(a)]

Int64Index([ 599,  125,    9,  118,   34, 1081,  138, 1183,  370,  119, 1800,
             128,  872, 1191,  283, 1688,  863,  155, 1563],
           dtype='int64')







# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [69]:
answers['27'] ='5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 1

In [70]:
from itertools import combinations

c = Counter()
for row in data.iterrows():
    actors = row[1]['cast'].split('|')
    pairs_actors = ['|'.join(sorted(pair)) for pair in combinations(actors, 2)]
    c += Counter(pairs_actors)

c.most_common(5)

[('Daniel Radcliffe|Rupert Grint', 8),
 ('Daniel Radcliffe|Emma Watson', 8),
 ('Emma Watson|Rupert Grint', 8),
 ('Ben Stiller|Owen Wilson', 6),
 ('Helena Bonham Carter|Johnny Depp', 6)]

ВАРИАНТ 2

In [71]:
from functools import reduce
from collections import Counter
from itertools import combinations


def counting_pairs(cast_row):
    actors = cast_row.split('|')
    pairs_actors = ['|'.join(sorted(pair)) for pair in combinations(actors, 2)]
    return Counter(pairs_actors)

c = reduce(lambda x, y: x+y, map(counting_pairs, data.cast.values))
c.most_common(5)

[('Daniel Radcliffe|Rupert Grint', 8),
 ('Daniel Radcliffe|Emma Watson', 8),
 ('Emma Watson|Rupert Grint', 8),
 ('Ben Stiller|Owen Wilson', 6),
 ('Helena Bonham Carter|Johnny Depp', 6)]







# Submission

In [72]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [73]:
# и убедиться что ни чего не пропустил)
len(answers)

27